.Badges__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.Badges .Hero--Badges .Hero__container {
  grid-template: 0.7fr 0.3fr / 1fr;
}

.Badges .btn--Badges {
  align-self: flex-end;
}
